@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,100,0,0");

.material-symbols-outlined {
    user-select: none !important;
    font-size: 1.4rem;
    font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 48;
}
